* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

header nav ul {
  list-style: none;
  text-align: center;
}

header nav ul li {
  display: inline;
  margin: 0 15px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

#hero {
  background-color: #009688;
  color: white;
  padding: 50px 0;
  text-align: center;
}

#about,
#works,
#contact {
  padding: 50px 20px;
  text-align: center;
}

#works .works-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.work-item {
  width: 22%;
  margin: 20px 0;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.work-item img {
  width: 100%;
  border-radius: 8px;
}

.work-item h3 {
  margin-top: 10px;
  font-size: 18px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
